#predict_gait_container, #predict_gait_wid, #predict_ctl_wid{
    background-color: #35363F;
    color:#FFFFFF;
    border-radius: 20px;
}


#strike_image_holder_wid,   #stackedWidget, #pbar_container_wid, #pbar_wid, #pbar_container_wid{
    background-color: #2C2D33;
}